@using Stolarus2.Data.Models
@using Stolarus2.Helpers

@model Stolarus2.ViewModels.ProductsInfo

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Latest Products -->
<div id="products">
    <div class="content-lg container">

        <div class="row margin-b-40">
            <div class="col-sm-6">
                <h2>@Model.CategoryName</h2>
                <p>@Model.CategoryDescription</p>
            </div>
        </div>
        <!--// end row -->

        <div class="row">

            @foreach (Product prod in Model.Products)
            {
                <!-- Latest Products -->
                <div class="col-sm-4 sm-margin-b-50">
                    <div class="margin-b-20">
                        <img class="img-responsive" src="@prod.ImageID.GetPath(970, 647)" alt="@prod.Name">
                    </div>
                    <h4><a href="#">@prod.Name</a></h4>
                    <p>@prod.Description</p>
                    <a class="link" href="/@prod.Name">Read More</a>
                </div>
                <!-- End Latest Products -->
            }

        </div>
        <!--// end row -->
    </div>
</div>
<!-- End Latest Products -->
