@using Stolarus2.Data.Properties
@{
    ViewBag.Title = "Home Page";
}

<br /><br />

<ul>
    <li>@Html.ActionLink(Resources.Sliders, "Index", "Sliders")</li>
    <li>@Html.ActionLink(Resources.ProductCategories, "Index", "ProductCategories")</li>
    <li>@Html.ActionLink(Resources.Products, "Index", "Products")</li>
    <li>@Html.ActionLink(Resources.PortfolioTypes, "Index", "PortfolioTypes")</li>
    <li>@Html.ActionLink(Resources.Portfolios, "Index", "Portfolios")</li>
    <li>@Html.ActionLink(Resources.PortfolioDetails, "Index", "PortfolioDetails")</li>
    <li>@Html.ActionLink(Resources.Article, "Index", "Article")</li>
    <li>@Html.ActionLink(Resources.Quotes, "Index", "Quotes")</li>
    <li>@Html.ActionLink(Resources.Contacts, "Index", "Contacts")</li>
    <li>@Html.ActionLink(Resources.Certificates, "Index", "Certificates")</li>
</ul>
